{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<script src="{% static 'scripts.js' %}"></script>
<header class="header">
<h1 class="site-title">Moderly</h1>
<nav class="navbar">
  <ul class="nav-list">
    {% if current_user %}
      <li>Welcome, <span>{{ current_user.username }}</span>!</li>
    {% endif %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'slider' %}">Slider</a></li>
    <li><a href="{% url 'product_list' %}">Products</a></li>
    {% if current_user %}
        <li><a href="{% url 'view_cart' %}">Cart</a></li>
        <li><a href="{% url 'order_history' %}">Order history</a></li>

        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
</nav>
<div class="color-picker">
<input type="color" id="primary-color" name="primary-color" value="#3498db">
<input type="color" id="secondary-color" name="secondary-color" value="#2ecc71">
<input type="color" id="tertiary-color" name="tertiary-color" value="#e74c3c">
</div>
</header>
